.dialogsItems {
    line-height: 50px;
}

.dialog {
    margin-left: 35px;
    line-height: 50px;
}

.dialog a {
    text-decoration: none;
}

.dialog.active {
    color: gold;
}

.dialog img {
    width: 45px;
    border-radius: 45px;
}