.photo {
    width: 70px;
}

.page {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
}

.selectedPage {
    font-weight: bold;
    opacity: 1;
    color: #59fc02;
    font-size: 20px;
}