.myPosts {
    margin-left: 15px;
}

.posts {
    margin: 15px 0;
}

.myPostTextarea {
    width: 70%;
    min-height: 50px;
    outline: none;
}

.error {
    border: #fc0202 solid 2px;
}

.errorText {
    color: #fc0202;
    font-weight: bold;
}