.myPosts {
    margin-left: 15px;
}

.posts {
    margin: 15px 0;
}

.myPostTextarea {
    width: 70%;
    min-height: 50px;
    outline: none;
}

.error {
    border: #A52A2A solid 2px;
}

.errorText {
    color: #A52A2A;
    font-weight: bold;
}