.photo {
    width: 70px;
}

.userProfile {
    padding: 10px;
}

.page {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
}

.selectedPage {
    font-weight: bold;
    opacity: 1;
    font-size: 20px;
    border: solid 2px #000;
    border-radius: 40%;
    background-color: #59fc02;
}

.unFollow {
    background-color: #fc0202;
    font-weight: bold;
    border-radius: 10px;
}

.follow {
    background-color: #59fc02;
    font-weight: bold;
    border-radius: 10px;
}

.button button:hover {
    cursor: pointer;
}

.button button:disabled {
    cursor: not-allowed;
}

