.AppNav {
    grid-area: n;
    background-color: #0E1621;
}

.item {
    text-decoration: none;
    color: #f3dcf5;
    margin: 15px;
}

.item img {
    margin: 10px;
    width: 40px;
    border-radius: 40px;
}

.item:last-child {
    margin-top: 150px;
}

.item a {
    text-decoration: none;
    color: #f3dcf5;
    font-size: 1.2em;
}

.item a.active {
    color: #59FC02;
    font-weight: bold;
    transform: scale(2);
}

.item a:hover {
    font-weight: bold;
}

.item span {
    color: #0aa712;
}