.profileInfo img {
    margin: 20px;
}

.description {
    padding: 15px;
}

.titleText {
    color: #17010d;
    font-weight: bold;
}

.profileInfo {
    display: flex;
    background-color: rgba(237, 245, 8, 0.95);
}

.contactsIcons img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    margin: 0;
}