.profileInfo img {
    padding-left: 15px;
    margin: 20px;
}

.description {
    padding: 15px;
}

.aboutMe {
    color: #ff0091;
    font-weight: bold;
}

.profileInfo {
    display: flex;
    background-color: rgba(3, 170, 122, 0.73);
}