.profileInfo img {
    margin: 20px;
}

.description {
    padding: 15px;
}

.titleText {
    color: #17010d;
    font-weight: bold;
}

.profileInfo {
    display: flex;
    background-color: rgba(3, 170, 122, 0.73);
}

.contactsIcons img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    margin: 0;
}