.paginator {
    display: flex;
    justify-content: center;
}

.page {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    padding: 2px;
}

.selectedPage {
    font-weight: bold;
    opacity: 1;
    font-size: 20px;
    border: solid 2px #000;
    border-radius: 40%;
    background-color: #59fc02;
}

.paginator button {
    background-color: #19d2f1;
    margin-right: 5px;
    border-radius: 30px;
    font-weight: bold;
}